:root {
    --primary-purple: #6c5ce7;
    --light-purple: #f3f0ff;
    --text-main: #2f3640;
    --bg-main: #f5f6fa;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box; /*reduce break in display*/
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
    padding: 40px;
    display: flex;
    justify-content: flex-start;
}

/* Set Page Width */
.dashboard-container {
    width: 100%,
    max-width: 900px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 35px;
    border-radius: 12px;
}

.profile img {
    width: 110px;
    height:110px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--primary-purple);
}

.profile h2, .stat-card h2, .study-set-container h2, .study-item h2{
    font-size: 1.5rem;
    color: var(--primary-purple);
    margin-bottom: 5px;
}

.analytics-container {
    display: grid;
    /* Fraction of 1 column to split into 3 columns*/
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

/*Select all childs from <div>*/
.analytics-container > div {
    background: white;
    text-align: center;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid var(--primary-purple);
}

.stat-card h3, .study-item h3 {
    font-size: 1rem;
    color: var(--primary-purple);
    margin-bottom: 5px;
}

.study-item{
    margin-top: 20px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    border: 2px solid var(--primary-purple);
}

/*Moves to top slowly when mouse is in the element*/
.stat-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(108, 92, 231, 0.15);
    background-color: var(--light-purple);
}

.study-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(108, 92, 231, 0.15);
    background-color: var(--light-purple);
}
